<!DOCTYPE html>
<html>
<head>
<title>Certificates</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1>My Certificates</h1>

<div class="certificate-card">
<img src="{{ url_for('static', filename='certificates/tech_vidyan.jpg') }}">
<h3>Python Programming Certificate</h3>
</div>

<div class="certificate-card">
<img src="{{ url_for('static', filename='certificates/python_ai.jpg') }}">
<h3>Python Using AI Workshop</h3>
</div>

<div class="certificate-card">
<img src="{{ url_for('static', filename='certificates/Excel_ai.jpg') }}">
<h3>Excel Using AI Workshop</h3>
</div>

<div class="certificate-card">
<img src="{{ url_for('static', filename='certificates/internship_certificate.jpg') }}">
<h3>Data Analyst Internship Certificate</h3>
</div>

</body>
</html>