<!DOCTYPE html>
<html>

<head>
<title>Certificates</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>My Certificates</h1>

<img src="{{ url_for('static', filename='certificates/tech_vidvan.jpg') }}">
<img src="{{ url_for('static', filename='certificates/python_ai.jpg') }}">
<img src="{{ url_for('static', filename='certificates/Excel_ai.jpg') }}">
<img src="{{ url_for('static', filename='certificates/internship_certificate.jpg') }}">

</body>

</html>