<!DOCTYPE html>
<html>

<head>
<title>Data Analyst Internship</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Data Analyst Internship</h1>

<p>
Worked on data analysis using Python, Excel, and data visualization tools.
</p>

<p>
Performed data cleaning, exploratory data analysis (EDA),
and created dashboards to generate insights from datasets.
</p>

<p>
Built interactive dashboards using Power BI and Tableau
to visualize business data and trends.
</p>

</body>

</html>