<!DOCTYPE html>
<html>

<head>
<title>Python Projects</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Python Projects</h1>

<div class="project-card">
<h3>Typing Speed Test</h3>
<p>Python program to measure typing speed.</p>
</div>

<div class="project-card">
<h3>To-Do List Manager</h3>
<p>CLI application for task management.</p>
</div>

<div class="project-card">
<h3>Password Generator</h3>
<p>Secure password generator using Python.</p>
</div>

<h2>Power BI Dashboards</h2>

<div class="project-card dashboard">

<h3>Netflix Dashboard</h3>

<img src="{{ url_for('static', filename='powerbi/netflix_dashboard/Netflix_dashboard.png') }}">

</div>


<div class="project-card">

<h3>Customer Dashboard</h3>

<img src="{{ url_for('static', filename='powerbi/customer_dashboard/Overview.png') }}">
<img src="{{ url_for('static', filename='powerbi/customer_dashboard/Tickets.png') }}">
<img src="{{ url_for('static', filename='powerbi/customer_dashboard/ML_Performance.png') }}">
<img src="{{ url_for('static', filename='powerbi/customer_dashboard/Data_Health.png') }}">
<img src="{{ url_for('static', filename='powerbi/customer_dashboard/Prediction.png') }}">
<img src="{{ url_for('static', filename='powerbi/customer_dashboard/Voice_Of_Customer.png') }}">
</div>


<div class="project-card">

<h3>Uber Trip Dashboard</h3>

<img src="{{ url_for('static', filename='powerbi/uber_dashboard/1_Overview.png') }}">
<img src="{{ url_for('static', filename='powerbi/uber_dashboard/2_Base_Analysis.png') }}">
<img src="{{ url_for('static', filename='powerbi/uber_dashboard/3_Prediction.png') }}">

</div>

<h2>Tableau Dashboards</h2>

<div class="project-card">

<h3>Data Analyst Job Analysis</h3>

<img src="{{ url_for('static', filename='tableau/Data_job_analysis/Overview.png') }}">
<img src="{{ url_for('static', filename='tableau/Data_job_analysis/Salary_Prediction.png') }}">
<img src="{{ url_for('static', filename='tableau/Data_job_analysis/Map.png') }}">

</div>


<div class="project-card">

<h3>Laptop Price Analysis</h3>

<img src="{{ url_for('static', filename='tableau/laptop_analysis/Overview.png') }}">
<img src="{{ url_for('static', filename='tableau/laptop_analysis/Hardware_Analysis.png') }}">
<img src="{{ url_for('static', filename='tableau/laptop_analysis/Price_Insights.png') }}">

</div>

</body>
</html>